.Absrtact-header {
    grid-area: header;
    background-color: white;
    height: 9vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Header-text {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #42444C;
    margin: 0.5% 0.5% 0.5% 0.5%;
    left: 2%;
    top: 30%;
    font-size: 100%;
}

.Reg {
    position: relative;
    right: 3%;
    outline: none;
    height: 40%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    background: #FF1A2E;
    border-radius: 6px;
    color: white;
    top:15%;
    text-decoration: none;
    border: 0px;
    float: right;
}

.Enter{
    position: relative;
    margin: 0.5% 0.5% 0.5% 0.5%;
    right: 3%;
    top:15%;
    height: 40%;
    text-decoration: none;
    background-color: white;
    border: 0px white;
    animation: none;
    outline: none;
    float: right;
}