.Abstract-header {
    grid-area: header;
    background-color: white;
    height: 60px;
    //width: 98.5vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.Header-components {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0;
    width: 100%;
}

.ico{
    position: relative;
    float: right;
    width: 25px;
    top: 6px;
    right: 25px;
}

.Header-text {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #42444C;
    top: 30%;
    font-size: 100%;
    width: 162px;
}

.Reg {
    position: relative;
    right: 3%;
    padding: 6px 10px;
    outline: none;
    height: 40%;
    background: #FF1A2E;
    border-radius: 6px;
    color: white;
    top: 15%;
    text-decoration: none;
    border: 0;
    float: right;
}

.Enter {
    position: relative;
    padding: 6px 10px;
    right: 3%;
    top: 15%;
    height: 40%;
    text-decoration: none;
    background-color: white;
    border: 0 white;
    animation: none;
    outline: none;
    float: right;
}

.arrow {
    top: 15px;
    right: 18px;
    float: right;
    position: relative;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid black;
}

.dropDownMenu {
    width: 13%;
    margin-right: 5px;
    float: right;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu > li:last-child {
    margin-right: 0;
}

.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
    position: relative;
}

.maina {
    text-align: center;
}

a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.dropDownMenu ul li {
    width: 100%;
}

.dropDownMenu ul a {
    color: black;
}

.dropDownMenu .submenu {
    visibility: hidden;
    background: white;
}

.dropDownMenu ul li:hover .submenu {
    visibility: visible;
}

.item:hover{
    background-color: #c7c5ce;
}

.maina:hover{
    background-color: #c7c5ce;
}
