.Settings {
    grid-area: content;
    text-align: center;
    height: 534px;
}

.UserSettings {
    position: relative;
    float: left;
    margin-top: 100px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: 100px;
}

.SettingsItem {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    align-items: center;
}

.SettingsLink {
    position: relative;
    height: 20px;
    color: black;
    width: 282px;
}

.selected_link {
    color: red;
    border-top: 3px solid red ;
}

.SettingsItem:hover {
    background-color: #c7c5ce;
}

.separator1 {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 635px;
}

.MainBlock {
    position: relative;
    margin-left: 410px;
    margin-top: 75px;
    height: 280px;
}


.Submit {
    position: absolute;
    border-radius: 5px;
    height: 33px;
    width: 455px;
    left: 275px;
    background-color: red;
    outline: none;
    color: white;
    border: 0;
}

.Changes {
    position: absolute;
    border-radius: 5px;
    left: 275px;
    height: 33px;
    width: 445px;
    padding-left: 5px;
}

.Inform {
    position: absolute;
    font-size: medium;
    color: black;
    left: 50px;
    top: 15px;
}

.Submit:disabled{
    background-color: rgba(255, 0, 0, 0.5);
}

.f {
    height: 60px;
    color:red;
    position: relative;
    font-size: small;
    text-align: center;
    padding: 10px;
}
