.Autofication {
    grid-area: content;
    background-color:white;
    height: 89vh;
    text-align: center;
}
.Inf{
    width: 100%;
    position: relative;
    font-size: large;
    margin-right: 32vw;
    margin-top: 20vh;
}
.Login {
    position: relative;
    border-radius: 5px;
    height: 5vh;
    width: 35vw;
    margin: 2vh 2vw;

}

.ForgetPassword{
    margin-right: 27vw;
    color: red;
}
.Check{
    position: relative;
    border-radius: 5px;
    height: 5vh;
    width: 35vw;
    margin: 2vh 2vw;
    background-color: #ff0000;
    outline: none;
    color: white;
    border: 0px;
}
button:hover{
    background-color: #d10009;
}

.Password{
    font-kerning: normal;
    position: relative;
    border-radius: 5px;
    margin: 2vh 2vw;

    height: 5vh;
    width: 35vw;
    text-blink: password;
}