.Autofication{
    grid-area: content;
    background-color:white;
    height: 534px;
    text-align: center;
}

.Inf{
    width: 100%;
    position: relative;
    font-size: large;
    margin-right: 400px;
    margin-top: 120px;
}

.Login {
    position: relative;
    border-radius: 5px;
    height: 30px;
    width: 437px;
    margin: 12px 25px;
    padding-left: 5px;

}

.ForgetPassword{
    margin-right: 337px;
    color: red;
}

.Check{
    position: relative;
    border-radius: 5px;
    height: 30px;
    width: 437px;
    margin: 12px 25px;
    background-color: #ff0000;
    outline: none;
    color: white;
    border: 0;
}
button:hover{
    background-color: #d10009;
}

.Passwordi{
    font-kerning: normal;
    position: relative;
    border-radius: 5px;
    margin: 12px 25px;
    height: 30px;
    width: 437px;
    padding-left: 5px;
    text-blink: password;
}