.CoursePage {
    grid-area: content;
    text-align: center;
    height: 1200px;
    font-family: Roboto;
    min-width: 1200px;
}

.NavBar {
    margin-left: 100px;
    position: relative;
    float: left;
}


.SettingsItem {
    position: relative;
    height: 40px;
    margin: 10px;
    display: inline-block;
    width: 150px;
}

.SettingsLink {
    position: absolute;
    display: block;
    height: 20px;
    color: black;
    width: 135px;
}

.selected_link {
    border-bottom: 2px solid red;
}

.SettingsLink:hover {
    background-color: rgba(255, 0, 0, 0.26);
}

.ImgAbout {
    width: 500px;
}

.Subscribe {
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    height: 33px;
    width: 300px;
    background-color: red;
    outline: none;
    color: white;
    border: 0;
    right: 40px;
    top: 14px;
    /* top: 50px;
    float: left;
    left: 100px; */
}

.Content {
    background-color: rgba(255, 0, 0, 0.07);
    position: relative;
    margin: 20px 100px;
    min-width: 1000px;
    padding: 15px;
    height: 800px;
}

.CourseName {
    font-weight: bold;
    font-size: 25px;
}

.HeadOfINfCourse {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    left: 5px;
    float: left;
}

.ImageOfCourse {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}

.InformationAboutCourse {
    position: absolute;
    background-color: white;
    margin-top: 5px;
    padding: 15px;
    width: 700px;
    height: auto;
}

.InformationMainBody {
    position: relative;
    margin-top: 30px;
    padding: 5px;
}

.TextInMainBody {
    text-transform: capitalize;
    text-align: start;
}

.rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
}

.rating-area:not(:checked) > input {
    display: none;
}

.rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 50px;
    line-height: 50px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating_block {
    width: 125px;
    height: 25px;
}

.rating_block input[type="radio"] {
    display: none;
}

.label_rating {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/*Пишем правила смены положения background-а*/
.rating_block .label_rating:hover, /*Правило для ховера на текущий лейбл*/
.rating_block .label_rating:hover ~ .label_rating, /*Правило для всех следующих лейблов по DOM дереву*/
.rating_block input[type="radio"]:checked ~ .label_rating /*Правило для всех следующих лейблов после выбранного инпута, чтобы звездочки как бы зафиксировались*/
{
    background-position: 50% -25px;
}

.video{

}

.MarkOfTheCourse {
    margin-top: 5px;
    position: absolute;     
    background-color: white;
    width: 250px;
    float: right;
    height: 50px;
    right: 15px;
}

.Description{
    width: 250px;
    float: right;
    background-color: white;
    margin-top: 35px;
    position: absolute;
    right: 15px;
}
