.CoursePage {
    grid-area: content;
    text-align: center;
    height: 1200px;
    font-family: Roboto;
    min-width: 1200px;
}

.NavBar {
    margin-left: 100px;
    position: relative;
    float: left;
}


.SettingsItem {
    position: relative;
    height: 40px;
    margin: 10px;
    display: inline-block;
    width: 150px;
}

.SettingsLink {
    position: absolute;
    display: block;
    height: 20px;
    color: black;
    width: 135px;
}

.selected_link {
    border-bottom: 2px solid red;
}

.SettingsLink:hover {
    background-color: rgba(255, 0, 0, 0.26);
}

.ImgAbout {
    width: 500px;
}

.Subscribe {
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    height: 33px;
    width: 455px;
    background-color: red;
    outline: none;
    color: white;
    border: 0;
    top: 50px;
    float: left;
    left: 100px;
}

.Content {
    background-color: rgba(255, 0, 0, 0.07);
    position: relative;
    margin: 20px ;
    min-width: 1120px;
    padding: 15px;
    height: 500px;
}

.CourseName{
    font-weight: bold;
    font-size: 25px;
}
.HeadOfINfCourse{
    position: relative;
    font-weight: bold;
    font-size: 20px;
    left:5px;
    float:left;
}
.ImageOfCourse{
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}
.InformationAboutCourse{
    position: absolute;
    background-color: white;
    margin-top: 5px;
    padding: 15px;
    width: 700px;
    height: auto;
}
.InformationMainBody{
    position: relative;
    margin-top: 30px;
    padding: 5px;
}
.TextInMainBody{
    text-transform: capitalize;
    text-align-all: start;
}

.MarkOfTheCourse{
    margin-top: 5px;
    position: absolute;
    display: inline;
    margin-left: 50px;
    background-color: white;
    width: 300px;
    float: right;
    height: 200px;
}

.rating-result {
    width: 265px;
    margin: 0 auto;
}
.rating-result span {
    padding: 0;
    font-size: 40px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
    content: '★';
}
.rating-result > span.active {
    color: gold;
    text-shadow: 1px 1px #c60;
}