.Main {
    background: url(../../sourses/mainpage_pics/main_back.png) no-repeat top;
    background-size: 100%;
    grid-area: content;
    height: 95vh;
    text-align: center;
    margin-top: 0;
}


.Menu {
    //background-color: aqua;
    width: 100%;
    height: 20vh;
    text-align: center;
    margin-top: 30vh;
}

.Menu-item {
    //background-color: bisque;
    grid-area: content;
    display: inline;
    padding: 30px;
    text-align: center;
}

.Menu-head {
    //background-color: blueviolet;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.Label {
    //background-color: aquamarine;
    width: 100%;
    color: white;
    margin-top: 15vh;
    position: center;
    horiz-align: center;
    vertical-align: central;
    font-size: 60px;
    margin-right: -3vw;
}

button:hover {
    background-color: #c70000;
}

.Try-button {
    position: relative;
    border-radius: 5px;
    height: 5vh;
    width: 15vw;
    margin: 2vh 2vh;
    background-color: red;
    outline: none;
    color: white;
    border: 0;
}